@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,500&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background-color: #FFD154;
  color: #3d3d3d;
  text-align: center;
}
